.main-sidebar {
    position: fixed;
    transition: 1s;
    left: -280px;
    width: 280px;
    height: 100vh;
    background-color: black;
    z-index: 9;
}

.main-sidebar.show-menu {
    left: 0;
    transition: 1.1s ease-out;
}

.sidebar {
    padding-top: 60px;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar li:hover {
    color: rgb(143, 143, 143);
}
