.section.-projects {
    padding-top: 30px;
}

.projects-navigation {
    padding-top: 140px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.wrapper-projects img {
    width: 300px;
    height: 300px;
    margin-right: 45px;
    box-shadow: 5px 5px 0px #000;
}

.wrapper-projects {
    transition: 0.15s transform linear;
}

.wrapper-projects:hover {
    transform: scale(1.1);
    transition: 0.15s transform ease-out;
}

.caption-projects {
    font-family: 'Fira Code', monospace;
    text-align: center;
    font-size: 25px;
    margin-right: 30px;
}