.section.-projects {
    padding-top: 30px;
}

.projects-navigation {
    padding-top: 135px; 
    display: flex;
    justify-content: center;
}

.wrapper-elements img {
    width: 270px;
    height: 270px;
    box-shadow: 5px 5px 0px #000;
}

.wrapper-elements {
    transition: 0.15s transform linear;
    padding-right: 20px;
    padding-left: 30px;
}

.wrapper-elements:hover {
    transform: scale(1.1);
    transition: 0.15s transform ease-out;
}

.wrapper-projects {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.caption-projects {
    font-family: 'Fira Code', monospace;
    text-align: center;
    font-size: 25px;
}

@media(max-width: 600px) {
    .wrapper-elements img {
        width: 140px;
        height: 130px;
    }

    .wrapper-projects {
        display: flex;
        flex-direction: column;
    }

    .wrapper-elements {
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 12px;
    }

    .caption-projects {
        font-size: 17px;
    }

    .projects-navigation {
        padding-top: 10px;
        display: flex;
        text-align: center;
        width: 100%;
    }
}