.main-biography {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figure-biography {
    margin-bottom: 15px;
}

.img-biography {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 3px solid #000; 
}

.title.-description {
    text-align: center;
    padding-top: 0px;
}

@media (max-width: 600px) {
    .figure-biography{
        margin-bottom: 5px;
    }
    
    .subtitle.-description {
        font-size: 20px;
    }
}