.main-carousel {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}

.main-carousel::after {
    content: '';
    position: absolute;
    height: 4px;
    top: 33px;
    width: calc(100% - 160px) ;
    display: block;
    background-color: #000;
}

.main-carousel::before {
    content: '';
    position: absolute;
    left: 17px;
    top: 33px;
    display: block;
    height: 0px;
    border: 2.2px dashed #000;
    width: 100%;
}

.main-carousel .btn-arrow {
    position: absolute;
    bottom: 0;
    transform: translateY(-135%);
}

.main-carousel .btn-arrow.-left {
    left: 15px;
}

.main-carousel .btn-arrow.-right {
    right: 15px;
}

.main-carousel .items-node-card {
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
}

.main-carousel .elements {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: transform 100ms ease-out;
}