.main-carousel {
    display: flex;
    position: relative;
    width: calc(100% - 100px);
    padding-left: 100px;
    padding-right: 100px;
}

.img-carousel img {
    width: 120px;
    height: 120px;
}

.btn-left {
    margin-right: 30px;
}

.btn-right {
    margin-right: 30px;
}

.img-carousel::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px dashed #000;
    top: 10px;
}

