@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

.main-navigation i {
    margin-right: 15px;
    margin-top: 10px;
    color: #fff;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.main-navigation a i {
    background-color: rgb(143, 143, 143);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}