.three-lines {
    width: 33px;
    height: 32px;
    position: fixed;
    z-index: 100;
    left: 25px;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    align-items: center;
    background-color: #000;
    border-radius: 5%;
}

.line {
    width: 70%;
    background-color: #fff;
    height: 3px;
    background-origin: padding-box;
}